APP_VERSION="2.3.0-SNAPSHOT"
REGISTRY_APP="rg.fr-par.scw.cloud/gazelle-snapshot"
HOSTNAME="127.0.0.1"
SCHEME="http"
FQDN="localhost"
PORT="3030"

# GLOBAL
BASE_URL="${SCHEME}://${FQDN}:${PORT}/gazelle"
GZL_EXCLUDED_PATHS="/test-execution/poc"

# AUTH
KEYCLOAK_ISSUER="http://localhost:28080/realms/gazelle"
KEYCLOAK_CLIENT_ID="OIDC_GAZELLE_CLIENT"
NEXTAUTH_URL="${BASE_URL}/api/auth/"
NEXTAUTH_SECRET="secret"

# SERVICES
GZL_GUM_API_URL="${SCHEME}://${FQDN}:8081/gum/rest"
GZL_TM_URL="${SCHEME}://${FQDN}:8080/tm"
GZL_SERVICE_REGISTRY_URL="https://qualif2.ihe.kereval.cloud/service-registry"
GZL_REGISTRATION_URL="${BASE_URL}/user-management/registration"

## MESSAGE CAPTURE
GZL_DTH_API_URL="${SCHEME}://${FQDN}:8082/datahouse/rest/v1"
GZL_DTH_EVSGATEWAY_URL="${SCHEME}://${FQDN}:8083/evsgateway/rest/v1"
GZL_DTH_VALIDATION_ENABLED="true"
GDH_PRESENTATION_SCHEMA_PATH="/opt/gazelle-user-interface/message-capture/presentationSchemas.json"

# HOME
GZL_HOME_CONFIGURATION_FOLDER=/opt/gazelle/user-interface

# TEST EXECUTION
GZL_TEST_CASE_FOLDER=/opt/gazelle-user-interface/test-execution/test-case/
GZL_TEST_EXECUTION_URL="http://localhost:8090/test-execution"
GZL_TEST_EXECUTION_WEBSOCKET_URL="ws://localhost:8090/test-execution"
GZL_MAESTRO_URL=http://localhost:8150/maestro
GZL_MAESTRO_WEBSOCKET_URL=ws://localhost:8150/maestro
GZL_TEST_MODEL_REPOSITORY_URL="http://localhost:8089/test-model-repository"

# SIMULATION PORTAL
GZL_SIMULATION_GATEWAY_URL="http://localhost:8087/simulation-gateway/rest/simulation/v1/sequences"
GZL_SIMULATION_REQUEST_TIMEOUT_SECONDS=60

# VALIDATION PORTAL
GZL_VALIDATION_GATEWAY_URL="${SCHEME}://${FQDN}/validation-gateway/rest/v1/profiles"
GZL_STYLED_CDA_STYLESHEET_URL="https://gazelle.ehdsi.eu/xsl/CDA/hl7/CDA%202.xsl"
