@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2.25rem];
  }

  h2 {
    @apply text-[1.75rem];
  }

  h3 {
    @apply text-[1.20rem];
  }

  h4 {
    @apply text-[1.10rem];
  }
}

.left-border-hover:hover {
  cursor: col-resize;
  /* Change the cursor to a resize cursor */
}

@layer utilities {
  .scrollbar-rounded::-webkit-scrollbar-thumb {
    background-color: rgb(156 163 175 / 0.5);
    border-radius: 9999px;
  }

  .scrollbar-rounded::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156 163 175 / 0.7);
  }

  .scrollbar-rounded::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar-rounded {
    scrollbar-color: rgb(156 163 175 / 0.5) transparent;
    scrollbar-width: thin;
  }
}